{% for host_group in nagios_host_groups %}
{% if host_group.checks is defined %}
{% for check in host_group.checks %}
define service {
  use  local-service;
  hostgroup_name  {{host_group.name}};
  service_description  {{check.description}};
  check_command  {{check.command}};
}
{% endfor %}
{% endif %}
{% endfor %}

{% for host_name in nagios_hosts %}
{% if host_name.checks is defined %}
{% for check in host_name.checks %}
define service {
  use local-service;
  host_name {{host_name.name}};
  service_description {{check.description}};
  check_command {{check.command}};
}
{% endfor %}
{% endif %}
{% endfor %}
